
/**
* -------------
* Global Styles
* -------------
*/

body {
  font-family: 'Poppins', sans-serif;
}

p, li, textarea, label, input, select {
  /* Default font size and line height */
}



.ultravision {
   background-color: #fcce00; 
   color: #ffffff;
   font-size: 88px;
   text-align: center;
   font-weight: 900;
   margin-top: 0px;
   margin-bottom: 8px ;
}

@media screen and (min-width:780px) {
  .ultravision{
    font-size: 88px;
  }
}
  

.title2 {
  background-color: #ff6b00;
  margin-top: 0px;
  margin-bottom: 8px ;
  font-size: 24px;
  color: #ffffff;
  text-align: center;
  padding-top: 6px;
  padding-bottom: 5px;
}

@media screen and (min-width:780px){
  .title2{
    font-size: 24px;
  }
}

.bannièrerouge {
  background-color: #e02020;
  height: 32px;
  margin-top: 0px;
  margin-bottom: 8px ;
}

.bannièreviolet {
  background-color: #b620e0;
  height: 16px;
  margin-top: 0px;
  margin-bottom: 8px ;
}

.bannièreblue {
  background-color: #6236ff;
  height: 8px;
  margin-top: 0px;
  margin-bottom: 8px ;
}

.intro{
  text-align: center;
  color: #231f20;
  font-size: 40px;
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 64px;
  margin-bottom: 64px;
}


.bloc1{
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.bloc1_contenu,
.bloc1_image{
  flex-basis: 320px;
  flex-grow: 1;
}

.bloc1_contenu{
  padding-top: 0;
  padding-right: 32px;
  padding-bottom: 32px;
  padding-left: 32px;
  font-style: normal;
  font-size:24px;
  color: #231f20;
  text-align: center;
}

.sub-title{
  font-size: 24px;
  color: #231f20;
  font-weight: 700;
  text-align: center;
}

.description{
  font-size: 16px;
  color: #231f20;
  text-align: justify;
  font-style: normal;
  font-weight: normal;
}

.bloc1_image{
  background-image: url(../bg-yellow_2020-11-30/bg-yellow.png);
  background-position:left bottom;
  background-size: auto 100%;
  display: flex;
  margin-top: 6px;
}


.ordinateur1{
  display: block;
  max-width: 70%;
  mix-blend-mode: darken;
  margin-left: auto;
  margin-top: 32px;
}

.button {
  color: #fcce00;
  font-size: 20px;
  border: solid 4px #fcce00;
  border-radius: 15px;
  display: block;
  padding: 10px 32px;
  text-align: center;
  max-width: 200px;
}

.bloc_orange{
  background-image: url(../bg-orange_2020-12-01/bg-orange.png) ;
}

.ordi2{
  display: block;
  max-width: 70%;
  mix-blend-mode: darken;
}

.description2{
  color: #231f20;
  font-size: 16px;
  text-align: justify;
}

.bullet_points{
  font-size:16px;
  text-align: center;
}

.button2 {
  color: #ff6b00;
  font-size: 20px;
  border: solid 4px #ff6b00;
  border-radius: 15px;
  display: block;
  padding: 10px 32px;
  margin-left: auto;
  max-width: 200px;
}

.intro2{
  font-size: 40px;
  color: #231f20;
  text-align: center;
}

.arcade,
.tv,
.computer{
  color: #ffffff;
  font-size: 32px;
  margin-left: 32px;
  margin-right: 66px;
  text-align: left;
}

.banner_red{
  background-image: url(../bg-red_2020-12-01/bg-red.png);
  display: flex;
  width:100%;
}

.info_red,
.info_violet,
.info_blue{
  font-size: 24px;
  color: #ffffff;
  text-align:left;
  margin-left: 32px;
  margin-right: 66px;
}

.button3{
  color: #ffffff;
  font-size: 20px;
  border: solid 4px #ffffff;
  border-radius: 15px;
  display: block;
  padding: 5px;
  margin-left:32px;
  text-align: center;
  max-width: 200px;
}

.banner_image_red{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-left: auto;
}

.feature_1,
.feature_2,
.feature_3{
  display: block;
  max-width: 80%;
  mix-blend-mode: darken;
}

.banner_violet{
  background-image: url(../bg-violet_2020-12-01/bg-violet.png);
  display: flex;
  width:100%;
}

.banner_image_violet{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-left: auto;
}

.banner_blue{
  background-image: url(../bg-blue_2020-12-02/bg-blue.png);
  display: flex;
  width:100%;
}

.banner_image_blue{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-left: auto;
}

.container_releases{
  background-color: #231f20;
  }

.container_images{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 32px;
}

.title_releases{
  color: #ffffff;
  font-size: 40px;
  text-align: center;
  font-weight: bold;
}

.game_1{
  position:relative;
  text-align: center;
}

.game_content{
  position:absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,.81);
  border-radius: 15px;
  font-size: 16px;
}

.game_category{
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  font-weight: bold;
}

.game_title{
  color:#fcce00;
  font-size: 32px;
  text-align: center;
  font-weight: bold;
}

.game_basic{
  color:#ff6b00;
  font-size: 32px;
  text-align: center;
  font-weight: bold;
}

.game_description{
  color:#ffffff;
  font-size: 16px;
  font-weight: normal;
}

.game_content{
  opacity:0;
  transition:800ms transform ease-in-out 200ms opacity;
  transform:translateY(10px)
}

.game_1:hover .game_content {
  opacity:1;
  transform:translateY(0px);
}


/**
* ------
* Layout
* ------
*/




/**
* ----------
* Components
* ----------
*/