
/**
* -------------
* Global Styles
* -------------
*/

body {
  font-family: 'Poppins', sans-serif;
}

p, li, textarea, label, input, select {
  /* Default font size and line height */
}



.ultravision {
   background-color: #fcce00; 
   color: #ffffff;
   font-size: 88px;
   text-align: center;
   font-weight: 900;
   margin-top: 0px;
   margin-bottom: 8px ;
}

.title2 {
  background-color: #ff6b00;
  margin-top: 0px;
  margin-bottom: 8px ;
  font-size: 24px;
  color: #ffffff;
  text-align: center;
  padding-top: 6px;
  padding-bottom: 5px;
}

.bannièrerouge {
  background-color: #e02020;
  height: 32px;
  margin-top: 0px;
  margin-bottom: 8px ;
}

.bannièreviolet {
  background-color: #b620e0;
  height: 16px;
  margin-top: 0px;
  margin-bottom: 8px ;
}

.bannièreblue {
  background-color: #6236ff;
  height: 8px;
  margin-top: 0px;
  margin-bottom: 8px ;
}

.intro{
  text-align: center;
  color: #231f20;
  font-size: 40px;
  margin-left: 216px;
  margin-right: 216px;
  margin-top: 64px;
  margin-bottom: 64px;
}

h6 {
  /* Default font, size, and margins */
}


a {
  /* Link color */
}

a:hover {
  /* Link color on mouse over */
}


/**
* ------
* Layout
* ------
*/




/**
* ----------
* Components
* ----------
*/